[submodule "extensions/gsUnitTest"]
	path = extensions/gsUnitTest
	url = ../gsUnitTest.git
	branch = master
[submodule "extensions/motor"]
	path = extensions/motor
	url = ../motor.git
	branch = master
[submodule "unsupported"]
	path = extensions/unsupported
	url = ../unsupported.git
	branch = master
[submodule "extensions/gsElasticity"]
	path = extensions/gsElasticity
	url = ../gsElasticity.git
	branch = master
[submodule "extensions/gsExaStencils"]
	path = extensions/gsExaStencils
	url = ../gsExaStencils.git
	branch = master
[submodule "extensions/gsCompFlow"]
	path = extensions/gsCompFlow
	url = ../gsCompFlow.git
	branch = master
[submodule "extensions/gsStructuralAnalysis"]
	path = extensions/gsStructuralAnalysis
	url = ../gsStructuralAnalysis.git
	branch = main
[submodule "extensions/gsKLShell"]
	path = extensions/gsKLShell
	url = ../gsKLShell.git
	branch = master
