################################################################################
# GitLab CI is used for multiple purposes
#
# 1. Building and testing of commits to all branches except 'ci_test' and 
#   'coverity_scan' and sending of the ctest results to the CDASH server
#    - these jobs exclude external pull requests and the two branches 
#      'ci_test' and 'coverity_scan' by the rule
#       except:
#       - external_pull_requests
#       - ci_test
#       - coverity_scan
#
# 2. Building and testing of external pull requests (PRs) [to be added]
#
# 3. Building and extensive testing of commits to branch 'ci_test' [to be added]
#
# 4. Coverity scan of commits to branch 'coverity_scan' [to be added]
#
# 5. Test installation and deployment
#
# 6. Building docker images and pushing them to DockerHub
################################################################################

################################################################################
# 1. Building and testing of commits to all branches except 'ci_test' and 
#    'coverity_scan' and sending of the ctest results to the CDASH server
################################################################################

.test:linux:base:
  tags:
    - linux
  stage: test
  image: $CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX/$IMAGE
  variables:
    BUILD_TYPE:             "Release"
    GENERATOR:              "Ninja"
    GISMO_OPTIONAL:         "gsOpennurbs"
    LABELS_FOR_SUBPROJECTS: "'gismo;examples;unittests;doc-snippets'"
    CTEST_ARGS:             ""
  script:
    - apt-get update -y
    - apt-get install cmake ninja-build -y
    - ctest -S /builds/gismo-ci/gismo/cmake/ctest_script.cmake -D CTEST_BUILD_NAME="$CI_JOB_NAME" -D CTEST_SITE="$CI_COMMIT_BRANCH-$CI_COMMIT_SHORT_SHA [gitlab-ci]" -D CTEST_SOURCE_DIRECTORY=/builds/gismo-ci/gismo -D CTEST_CONFIGURATION_TYPE="$BUILD_TYPE" -D UPDATE_REPO=ON -D CTEST_CMAKE_GENERATOR="$GENERATOR" -D CNAME=$CNAME -D CXXNAME=$CXXNAME -D CTEST_TEST_TIMEOUT=150 -D GISMO_OPTIONAL="$GISMO_OPTIONAL" -D LABELS_FOR_SUBPROJECTS="$LABELS_FOR_SUBPROJECTS" -D CMAKE_ARGS="$CMAKE_ARGS" $CTEST_ARGS #-VV
  interruptible: true
  except:
    - ci_test
    - coverity_scan
    - external_pull_requests
    
#-------------------------------------------------------------------------------
# Clang 13-16, C++14,17,20,23
#-------------------------------------------------------------------------------

# Clang 13, C++14, Release
linux_x86_64_clang13_cxx14_release_float_int:
  extends: .test:linux:base
  variables:
    IMAGE:            "silkeh/clang:13"
    CNAME:            "/usr/local/bin/clang"
    CXXNAME:          "/usr/local/bin/clang++"
    CMAKE_ARGS:       "'-DCMAKE_CXX_STANDARD=14;-DGISMO_BUILD_UNITTESTS=ON;-DGISMO_COEFF_TYPE=float;-DGISMO_INDEX_TYPE=int'"
    GISMO_OPTIONAL:   "gsOpennurbs\\;"

# Clang 14, C++17, Release
linux_x86_64_clang14_cxx17_release_double_int64t:
  extends: .test:linux:base
  variables:
    IMAGE:            "silkeh/clang:14
    CNAME:            "/usr/local/bin/clang"
    CXXNAME:          "/usr/local/bin/clang++"
    CMAKE_ARGS:       "'-DCMAKE_CXX_STANDARD=17;-DGISMO_BUILD_UNITTESTS=ON;-DGISMO_COEFF_TYPE=double;-DGISMO_INDEX_TYPE=int64_t'"
    GISMO_OPTIONAL:   "gsOpennurbs\\;gsSpectra"

# Clang 15, C++20, Release
linux_x86_64_clang14_cxx20_release_mpq_int:
  extends: .test:linux:base
  variables:
    IMAGE:            "silkeh/clang:15
    CNAME:            "/usr/local/bin/clang"
    CXXNAME:          "/usr/local/bin/clang++"
    CMAKE_ARGS:       "'-DCMAKE_CXX_STANDARD=20;-DGISMO_BUILD_UNITTESTS=ON;-DGISMO_COEFF_TYPE=mpq_class;-DGISMO_INDEX_TYPE=int'"
    GISMO_OPTIONAL:   "gsOpennurbs\\;"

# Clang 16, C++23, Release
linux_x86_64_clang14_cxx14_release_mpreal_int:
  extends: .test:linux:base
  variables:
    IMAGE:            "silkeh/clang:16
    CNAME:            "/usr/local/bin/clang"
    CXXNAME:          "/usr/local/bin/clang++"
    CMAKE_ARGS:       "'-DCMAKE_CXX_STANDARD=23;-DGISMO_BUILD_UNITTESTS=ON;-DGISMO_COEFF_TYPE=mpfr::mpreal;-DGISMO_INDEX_TYPE=int'"
    GISMO_OPTIONAL:   "gsOpennurbs\\;"

#-------------------------------------------------------------------------------
# GCC 10-13, C++14,17,20,23
#-------------------------------------------------------------------------------

# GCC 10, C++14, Release
linux_x86_64_gcc10_cxx14_release_double_int64t:
  extends: .test:linux:base
  variables:
    IMAGE:            "gcc:10"
    CNAME:            "/usr/local/bin/gcc"
    CXXNAME:          "/usr/local/bin/g++"
    CMAKE_ARGS:       "'-DCMAKE_CXX_STANDARD=14;-DGISMO_BUILD_UNITTESTS=ON;-DGISMO_COEFF_TYPE=double;-DGISMO_INDEX_TYPE=int64_t'"
    GISMO_OPTIONAL:   "gsOpennurbs\\;"

# GCC 11, C++17, Release
linux_x86_64_gcc11_cxx17_release_float_int:
  extends: .test:linux:base
  variables:
    IMAGE:            "gcc:11"
    CNAME:            "/usr/local/bin/gcc"
    CXXNAME:          "/usr/local/bin/g++"
    CMAKE_ARGS:       "'-DCMAKE_CXX_STANDARD=17;-DGISMO_BUILD_UNITTESTS=ON;-DGISMO_COEFF_TYPE=float;-DGISMO_INDEX_TYPE=int'"
    GISMO_OPTIONAL:   "gsOpennurbs\\;gsSpectra"
    
# GCC 12, C++20, Release
linux_x86_64_gcc12_cxx20_release_mpreal_int:
  extends: .test:linux:base
  variables:
    IMAGE:            "gcc:12"
    CNAME:            "/usr/local/bin/gcc"
    CXXNAME:          "/usr/local/bin/g++"
    CMAKE_ARGS:       "'-DCMAKE_CXX_STANDARD=20;-DGISMO_BUILD_UNITTESTS=ON;-DGISMO_COEFF_TYPE=mpfr::mpreal;-DGISMO_INDEX_TYPE=int'"

# GCC 13, C++23, Release
linux_x86_64_gcc12_cxx23_release_mpq_int:
  extends: .test:linux:base
  variables:
    IMAGE:            "gcc:13"
    CNAME:            "/usr/local/bin/gcc"
    CXXNAME:          "/usr/local/bin/g++"
    CMAKE_ARGS:       "'-DCMAKE_CXX_STANDARD=23;-DGISMO_BUILD_UNITTESTS=ON;-DGISMO_COEFF_TYPE=mpq_class;-DGISMO_INDEX_TYPE=int'"
    
################################################################################
# 2. Building and testing of external pull requests (PRs)
################################################################################

# Clang 10, C++17, Release
linux_x86_64_clang10_cxx17_release_mpreal_long:
  extends: .test:linux:base
  variables:
    IMAGE:            "silkeh/clang:10"
    CNAME:            "/usr/local/bin/clang"
    CXXNAME:          "/usr/local/bin/clang++"
    CMAKE_ARGS:       "'-DCMAKE_CXX_STANDARD=17;-DGISMO_BUILD_UNITTESTS=ON;-DGISMO_COEFF_TYPE=mpfr::mpreal;-DGISMO_INDEX_TYPE=long'"
  except:
    - ci_test
    - coverity_scan

# GCC 10, C++14, Release
linux_x86_64_gcc10_cxx14_release_mpq_long:
  extends: .test:linux:base
  after_script:
    - cat /builds/gismo-ci/build_ExperimentalRelease_g++/gmp-prefix/src/gmp-stamp/gmp-configure
  variables:
    IMAGE:            "gcc:10"
    CNAME:            "/usr/local/bin/gcc"
    CXXNAME:          "/usr/local/bin/g++"
    GENERATOR:        "Unix Makefiles"
    CMAKE_ARGS:       "'-DCMAKE_CXX_STANDARD=14;-DGISMO_BUILD_UNITTESTS=ON;-DGISMO_COEFF_TYPE=mpq_class;-DGISMO_INDEX_TYPE=int64_t'"    
  except:
    - ci_test
    - coverity_scan   
    
################################################################################
# 3. Building and extensive testing of commits to branch 'ci_test'
################################################################################

################################################################################
# 4. Coverity scan of commits to branch 'coverity_scan'
################################################################################

################################################################################
# 5. Test installation and deployment
################################################################################

# Standard installation and deployment on linux
install_and_deploy_linux:
  tags:
    - linux
  stage: test #deploy #(deploy will only run only when all test succeeds)
  image: gcc:9
  script:
    - apt-get update -y
    - apt-get install cmake -y
    - export MAKEFLAGS=-j3
    - rm -rf ~/.cmake /builds/gismo-ci/buildlib/CMakeCache.txt /builds/gismo-ci/buildlib/lib /usr/lib*/gismo /usr/lib*/*gismo*.* /usr/include/gismo /usr/share/gismodata /builds/gismo-ci/buildproj # Cleanup folders
    - if [ ! -d "/builds/gismo-ci/buildlib" ]; then mkdir /builds/gismo-ci/buildlib; fi
    - cd /builds/gismo-ci/buildlib
    - cmake ../gismo -DBUILDNAME="$CI_JOB_NAME" -DSITE="$CI_COMMIT_BRANCH-$CI_COMMIT_SHORT_SHA-[gitlab-ci]" -D CMAKE_GENERATOR="Unix Makefiles" -D CMAKE_INSTALL_PREFIX=/usr -DTARGET_ARCHITECTURE=generic #-D GISMO_OPTIONAL="gsOpennurbs\\;gsIpOpt\\;gsSpectra"
    - cmake --build . --target gismo #--parallel 3
    # I. Test deploy from build tree
    - cp /builds/gismo-ci/gismo/CTestConfig.cmake /builds/gismo-ci/gismo/deploy/
    - mv /builds/gismo-ci/gismo/examples/*.cpp /builds/gismo-ci/gismo/deploy/
    - mkdir /builds/gismo-ci/buildproj; cd /builds/gismo-ci/buildproj
    - cmake ../gismo/deploy -Dgismo_DIR=/builds/gismo-ci/buildlib -DBUILDNAME="$CI_JOB_NAME-local" -DSITE="$CI_COMMIT_BRANCH-$CI_COMMIT_SHORT_SHA [gitlab-ci]" -D CMAKE_GENERATOR="Unix Makefiles" || true
    - ctest $MAKEFLAGS --output-on-failure -D ExperimentalStart -D ExperimentalConfigure -D ExperimentalBuild -D ExperimentalTest -D ExperimentalSubmit
    # II. Test deploy from system tree
    - cd /builds/gismo-ci/buildlib
    - cmake --build . --target install
    - rm -rf ~/.cmake /builds/gismo-ci/buildproj
    - mkdir /builds/gismo-ci/buildproj; cd /builds/gismo-ci/buildproj
    - cmake ../gismo/deploy -DBUILDNAME="$CI_JOB_NAME-system" -DSITE="$CI_COMMIT_BRANCH-$CI_COMMIT_SHORT_SHA [gitlab-ci]" -D CMAKE_GENERATOR="Unix Makefiles" || true
    - ctest $MAKEFLAGS --output-on-failure -D ExperimentalStart -D ExperimentalConfigure -D ExperimentalBuild -D ExperimentalTest
    # III. Test direct use of -lgismo
    - rm -rf ./poisson_example.out
    - g++ -v /builds/gismo-ci/gismo/deploy/poisson_example.cpp -o poisson_example.out -I/usr/include/gismo -lgismo 2> compile.log
    - ctest --output-on-failure -A compile.log -M Experimental -T Submit
    - if [ ! -f "poisson_example.out" ]; then cat compile.log; fi
    - ./poisson_example.out
  only:
    - stable
    - external_pull_requests

################################################################################
# 6. Building docker images and pushing them to DockerHub
################################################################################

.docker:linux:base:
  stage: test
  image: docker:19.03.12
  services:
    - docker:19.03.12-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TAG:    ""
  script:
    - apk update
    - apk add bash
    - docker login --username=$DOCKERHUB_USERNAME --password=$DOCKERHUB_PASSWORD
    - cd /builds/gismo-ci/gismo/docker && bash run_build_docker.sh $DOCKERHUB_USERNAME/gismo:$DOCKER_TAG
    - docker push $DOCKERHUB_USERNAME/gismo:$DOCKER_TAG
  only:
    - stable

# GCC 11, C++14, Release
docker:ubuntu20.04-gcc11-cxx14-release-generic-double-int:
  extends: .docker:linux:base
  variables:
    DOCKER_TAG: "ubuntu20.04-gcc11-cxx14-release-generic-double-int"

# GCC 11, C++14, Debug
docker:ubuntu20.04-gcc11-cxx14-debug-generic-double-int:
  extends: .docker:linux:base
  variables:
    DOCKER_TAG: "ubuntu20.04-gcc11-cxx14-debug-generic-double-int"
