[submodule "extensions/gsUnitTest"]
	path = extensions/gsUnitTest
	url = https://github.com/gismo/gsUnitTest
[submodule "extensions/motor"]
	path = extensions/motor
	url = https://github.com/gismo/motor.git
[submodule "unsupported"]
	path = unsupported
	url = https://github.com/gismo/unsupported.git
